*{
    padding: 0;
    margin: 0;
}

:root{
    --dark-green: #132a13;
    --standard-green: #3a5a40;
    --gray-green: #a3b18a;
}

body{
    font-family: 'Alegreya', sans-serif;
}

header{
    background-color: var(--standard-green);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8em;
    /* position: relative; */
}

header img{
    height: 6em;
    padding: 1.5em;
}

header span{
    font-weight: 900;
    font-size: 2em;
}

#darkBtn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 34px;
    cursor: pointer;
    color: #fff;
}

nav {
	background-color: var(--dark-green);
}

#myButton::before{
    content: "\2630";
}

#myButton{
    font-size: 2rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;
}

li.current-menu-item a{
    background: var(--gray-green);
}


/* CSS for the open class */
ul.menuLinks{
    display: none;
}

#myButton.open::before {
    content: "x";
}

ul.menuLinks.open{
    display: block;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

main{
    padding: 1em;
}

main.dark{
    background: #03160a;
    color: #ddd;
}

main h1{
    grid-column: 1/4;
    text-align: center;
    padding: 0.5em;
}

.card{
    border: 2px solid #ddd;
    padding: 1em;
}

.card h2{
    text-align: center;
}

.card ul{
    list-style-type: none;
}

.card ul li{
    padding: 1em;
}

.second{
    text-align: center;
}

footer{
    background: var(--standard-green);
    color: #fff;
    padding: 1em;
    text-align: center;
}