@media (min-width: 700px){

nav ul{
    display: flex;
}

nav ul li{
    flex: 1 1 100%;
}

#myButton{
    display: none;
}

ul.menuLinks, ul.menuLinks.open{
    display: flex;
    justify-content: flex-end;
}

ul.menuLinks a:hover{
    background: #a3b18a;
    font-weight: 800;
    transition: 0.5s;
}

body{
    display: grid;
}

main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0.5em;
}

.hero{
    margin: 0;
    padding:0em 2em;
    grid-column: 1/4;
}

}

